[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/uniswapERC20-factory"]
	path = lib/uniswapERC20-factory
	url = git@github.com:Uniswap/uniswapERC20-factory.git
